<section>
  <h1>All Pets</h1>
</section>

<section>
  <% @shelter.pets.each do |pet| %>
    <%= image_tag pet.image, style: "max-height: 200px; max-width: 200px" %>
    <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
    <p><%= pet.approximate_age %></p>
    <p><%= pet.sex %></p>
    <% end %>
</section>

<section>
    <%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
</section>
