<section>
  <%= link_to "Home", "/" %><br>
  <%= link_to "All Shelters", "/shelters" %>
</section>

<section>
  <h1><%= @shelter.name %></h1>
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %></p>
  <p><%= @shelter.state %></p>
  <p><%= @shelter.zip %></p>
</section>

<section>
  <p><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><p>
  <p><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %><p>
</section>

<section>
  <h2><%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %><h2>
</section>
