<a href="/">Home</a></br>
<a href="/shelters">All Shelters</a>

<section>
  <h1><%= @shelter.name %></h1>
  <p><%= @shelter.address %></p>
  <p><%= @shelter.city %></p>
  <p><%= @shelter.state %></p>
  <p><%= @shelter.zip %></p>
</section>

<section>
  <h3><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><h3>
</section>
