<section class='grid-container'>
  <div class='grid-item item1'>
    <h1><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
  </div>
  <div class='grid-item item2'>
    <%= @shelter.address %><br>
    <%= @shelter.city %><br>
    <%= @shelter.state %><br>
    <%= @shelter.zip %><br>
  </div>
  <div class='grid-item item3'>
    <p><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><p>
  </div>
  <div class='grid-item item4'>
    <p><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %><p>
  </div>

  <div class='grid-item item5'>
    <h2><%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %><h2>
  </div>
</section>
