<section>
  <div class='headers'><h1>All Pets</h1></div>
</section>

<section align='center'>
  Pet Count: <%= @shelter_pets.pets.count %>
</section>

<section class='button'>
    <%= link_to "Create Pet", "/shelters/#{@shelter_pets.id}/pets/new" %>
</section>

<section>
  <% @shelter_pets.pets.each do |pet| %>
    <section id='pet-<%= pet.id %>'>
      <div class='grid-container'>
        <div class='grid-item item2'>
          <%= image_tag pet.image, style: "max-height: 200px; max-width: 200px" %>
        </div>
        <div class='grid-item item1'>
          <strong><%= link_to pet.name, "/pets/#{pet.id}" %></strong>
          <section class='button'>
            <%= link_to "Edit", "/pets/#{pet.id}/edit" %>
            <%= link_to "Delete", "/pets/#{pet.id}", method: :delete %>
          </section>
        </div>
        <div class='grid-item item3'>
          <p>Approximate Age: <%= pet.approximate_age %></p>
        </div>
        <div class='grid-item item4'>
          <p>Sex: <%= pet.sex %></p>
        </div>
      </div>
    </section>
    <% end %>
</section>
