<div class='headers'><h1>Edit Pet Info</h1></div>

<section class='grid-container'>
  <section class='form-text'>
    <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
      <%= label_tag :image %>
      <%= text_field_tag :image, @pet.image %>

      <%= label_tag :name %>
      <%= text_field_tag :name, @pet.name %>

      <%= label_tag :description %>
      <%= text_field_tag :description, @pet.description %>

      <%= label_tag :approximate_age %>
      <%= text_field_tag :approximate_age, @pet.approximate_age %>

      <%= label_tag :sex %>
      <%= text_field_tag :sex, @pet.sex %>

      <%= submit_tag "Update Pet"%>
  <% end %>
  </section>
</section>
