<section>
  <%= image_tag @pet.image, style: "max-height: 200px; max-width: 200px" %>
  <h1><%= link_to @pet.name, "/pets/#{@pet.id}" %></h1>
  <h3><%= @pet.description %></h3>
  <p>Approximate age: <%= @pet.approximate_age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <p>Status: <%= @pet.status %></p>
</section>

<section>
  <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
  <p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
</section>
