<section>
  <%= image_tag @pet.image, style: "max-height: 200px; max-width: 200px" %>
  <h1><%= @pet.name %></h1>
  <p><%= @pet.description %></p>
  <p><%= @pet.approximate_age %></p>
  <p><%= @pet.sex %></p>
  <p><%= @pet.status %></p>
</section>

<section>
  <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
</section>
